.button {    
    font-size: 24px;
    color: rgb(185, 185, 185);

    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    cursor: pointer;
}

.button:hover {
    color: white;
}